typing-extensions==4.5.0
scikit-learn==1.3.1
sounddevice
pyaudio
pvrecorder
pyserial
python_speech_features
simsimd==3.0.0
flask-cors
faiss-cpu==1.7.4
cloud-tpu-client
picovoice
Flask
requests
huggingface_hub==0.18.0
google-cloud-speech
spotipy
gevent
vosk
opencv-python
sentence_transformers==2.2.2
dload
tiktoken==0.4.0
pygame==2.5.0
openai==0.27.8
neo4j==5.14.1
python-dotenv==1.0.0
psutil
typing-inspect==0.8.0
pyttsx3
python_weather
chromadb==0.3.26
pandas
google-cloud-texttospeech
playsound
pydantic==1.10.8
matplotlib
lifxlan
word2number
homeassistant-api
dill
pipwin
langchain==0.0.216
google-search-results==2.4.2
tensorflow==2.13.0
pyautogui
scikit-learn
plac
spacy==3.7.2
termdown
nltk
wolframalpha
